<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhl.mybatis.mapper.BlogMapper">
  <select id="selectBlog" resultType="com.lhl.mybatis.beans.Blog">
    select * from Blog where bid = #{id}
  </select>
</mapper>